{% extends 'blog.html' %}

{% block content %}
<div class="blog-post">
  <h1 class="blog-post-title">About Me</h1>
  <p>Hi, I'm Laura and welcome to my blog! I am a New Jersey native living in Denver, Colorado. When I'm not programming, I enjoy hiking with my puppy, Pasta! We love exploring new places together and seeing all the beautfiul lanscapes that Colorado has to offer! </p>
  <p>Here, you'll find different blog posts by me, detailing all of my exciting adventures with my pup. I hope you enjoy!</p>
</div>
{% endblock %}