{% extends 'blog.html' %}

{% block content %}
    {% for post in posts %}
<div class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p>{{post.body}}</p>
    <p class="date blog-post-meta">{{post.pub_date}}</p>
</div>
    {% endfor %}
    {% if next_url%}
    <nav class="blog-pagination">
        <a class="btn btn-outline-secondary" href="{{ next_url }}">Older</a>
        {% endif %}
        {% if prev_url%}
        <a class="btn btn-outline-primary" href="{{ prev_url }}">Newer</a>
    </nav>
    {% endif %}
<script>
    document.querySelectorAll(".date").forEach((d) => {
        let x = d.innerHTML.split("")
        d.innerHTML = `${x[5]}${x[6]}/${x[8]}${x[9]}/${x[0]}${x[1]}${x[2]}${x[3]}` 
    })
</script>

{% endblock %}
